<div id="{{id}}" class="project-manager-mappopup">
    {{#if image}}
        <img class="project-mappopup-image" src="{{image}}" alt="image"/> 
    {{/if}}

    <div class="project-mappopup-name">{{name}}</div>
    <div> </div>

    <div class="btn btn-primary btn-sm btn-block project-mappopup-button-open" data-id="{{id}}">OPEN</div>
</div>